.MatchSmallCard{
    padding: 40px;
    border-style: dashed;
    align-self: center;
    
    .match-result{
        font-size: 15px;
        margin-top: 10px;
    }

    .small-team-name{
        font-size: 15px;
    }
    
}