.MatchDetailCard{
    border-style: dashed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #17202A;
    margin-top: 15px;
    .match-date, .match-venue, .match-result{
        margin-top: 10px;
    }
    
}

.additonal-detail{
    text-align: right;
    color:gold;
    & > p{
        color:white;
        margin-bottom: 10px;
    }
}

